
#banner {
    padding: 18px 18px 16px;
    background: linear-gradient(#a1c6e4 0%, #67b9ff 65%, #67b9ff 100%);
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    height: 250px;
    position: relative;
    margin-bottom: 60px;
    /* color: red; */
} 

#sun{
  position: absolute;
  width: 90px;
  height: auto;
  right: 40px;
  top: 30px;
  animation: wobble 5s ease-in-out infinite;
}

h2 {
  animation: wobble 10s ease-in-out infinite;
}


#car{
  position: absolute;
  bottom: 18px;     
  left: 35%;        
  width: 100px;
  height: auto;
  z-index: 2;
  animation: wobble 400ms ease-in-out infinite;
}

#car:hover {
  animation: wobble 200ms ease-in-out infinite;
}

#policecar{
  position: absolute;
  bottom: 18px;     
  left: 50%;        
  width: 100px;
  height: auto;
  z-index: 2;
  animation: wobble 400ms ease-in-out infinite;
}

#policecar:hover {
  animation: wobble 200ms ease-in-out infinite;
}

#road{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 5px double #fbfbfb;
  background:
    repeating-linear-gradient(
      90deg,
      #474747 0 40px,
      #3c3c3c 40px 80px
    );
  animation: road 180ms linear infinite;
  z-index: 1;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

#road:hover {
    animation: road 80ms linear infinite;
}

h1 {
   font-family: "Rubik Bubbles", system-ui;
   color: #fcf9f9;
   font-size: 80px;
   position: absolute;
   top: 20px;
   left: 25%;
  animation: wobble 10s ease-in-out infinite;

}

h2 {
   font-family: "BBH Bartle", sans-serif;
}

#banner-text {
  font-family: "Rubik Bubbles", system-ui;
  font-size: 20px;
  color: #fcf9f9;
  animation: wobble 20s ease-in-out infinite;
}

p {
    font-family: "Inter", sans-serif;
}

#grid {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  gap: 20px;
}

#container {
  padding: 18px 18px 16px;
  background: #efefef;
  border-left: 1px dotted #bbb;
  border-bottom: 1px dotted #bbb;
  border-radius: 14px;
  margin-bottom: 60px;
}

#container:hover {
  animation: wobble 5s ease-in-out infinite;
  border-left: 5px solid #bbb;
  border-bottom: 5px solid #bbb;
}

#container a {
    text-decoration: none;
    font-size: 16px;
    color: #3c3c3c;
}

#container ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #565656;
}

#container a:hover {
    font-weight: bold;
    color: rgb(30, 30, 30);
}

footer {
    padding: 18px 18px 16px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    border-radius: 14px;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

@keyframes wobble{
  0%   { transform: rotate(0deg) translateY(0); }
  20%  { transform: rotate(-2deg) translateY(-1px); }
  40%  { transform: rotate(2deg)  translateY(1px); }
  60%  { transform: rotate(-1.5deg) translateY(-1px); }
  80%  { transform: rotate(1.5deg) translateY(1px); }
  100% { transform: rotate(0deg) translateY(0); }
}

@keyframes road{
  from { background-position: 0 0; }
  to   { background-position: 80px 0; }
}

