html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #282828;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

#left {
    width: 60%;
    position: relative;
}

.active-photo, .hidden-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    min-width: 400px;
    transform: translate(-50%, -50%);
}

.hidden-photo {
    opacity: 0;
}

#right {
    width: 40%;
    padding: 5%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0 0 10px 0;
}

h2 {
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.active-text {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;
    font-size: 20px;
}

.hidden-text {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0;
}